@media (width < 420px) {
    .dis_block{
        padding: 40px 0 16px 0;
        min-height: 148px;
        border-radius: 5px;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
        display: block;
        flex-direction: column;
        justify-content: center;
        max-width: 260px;
        margin: 0 auto;
    }
    .dis_block > div{
        margin-top: 40px;
        margin-left: 12px
    }
}

@media (width > 420px){
    .dis_block{
        padding: 12px 24px 12px 24px;
    }

    .dis_block > div{
        margin-left: 24px;
        float: left;
    }

}

.dis_block{
    min-height: 148px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}

.dis_block > p {
    margin-bottom: 0px;
}
